#edit these
PROJECT_NAME=
USER_NAME=


#env
API=
DOCKER_EMAIL=
DOCKER_PASS=
DOCKER_USER=
GITHUB_OAUTH_TOKEN=
CIRCLE_CI_API_KEY=
GIT_USER_EMAIL=
GIT_USER_NAME=




#add variables
curl -X POST --header "Content-Type: application/json" \
-d "{\"name\":\"DOCKER_EMAIL\", \"value\":\"$DOCKER_EMAIL\"}" \
https://circleci.com/api/v1/project/${USER_NAME}/${PROJECT_NAME}/envvar?circle-token=${API}

curl -X POST --header "Content-Type: application/json" \
-d "{\"name\":\"DOCKER_PASS\", \"value\":\"$DOCKER_PASS\"}" \
https://circleci.com/api/v1/project/${USER_NAME}/${PROJECT_NAME}/envvar?circle-token=${API}

curl -X POST --header "Content-Type: application/json" \
-d "{\"name\":\"DOCKER_USER\", \"value\":\"$DOCKER_USER\"}" \
https://circleci.com/api/v1/project/${USER_NAME}/${PROJECT_NAME}/envvar?circle-token=${API}

curl -X POST --header "Content-Type: application/json" \
-d "{\"name\":\"GITHUB_OAUTH_TOKEN\", \"value\":\"$GITHUB_OAUTH_TOKEN\"}" \
https://circleci.com/api/v1/project/${USER_NAME}/${PROJECT_NAME}/envvar?circle-token=${API}


curl -X POST --header "Content-Type: application/json" \
-d "{\"name\":\"CIRCLE_CI_API_KEY\", \"value\":\"$CIRCLE_CI_API_KEY\"}" \
https://circleci.com/api/v1/project/${USER_NAME}/${PROJECT_NAME}/envvar?circle-token=${API}


curl -X POST --header "Content-Type: application/json" \
-d "{\"name\":\"GIT_USER_EMAIL\", \"value\":\"$GIT_USER_EMAIL\"}" \
https://circleci.com/api/v1/project/${USER_NAME}/${PROJECT_NAME}/envvar?circle-token=${API}

curl -X POST --header "Content-Type: application/json" \
-d "{\"name\":\"GIT_USER_NAME\", \"value\":\"$GIT_USER_NAME\"}" \
https://circleci.com/api/v1/project/${USER_NAME}/${PROJECT_NAME}/envvar?circle-token=${API}


#check
curl https://circleci.com/api/v1/project/${USER_NAME}/${PROJECT_NAME}/envvar?circle-token=${API}
