#!/bin/bash

SHELL=/bin/bash
PATH=/root/bin:/usr/local/bin:/usr/local/bundle/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
30 *    * * *   root    /bin/bash /backup.sh >> /log.git  2>&1
30 *    * * *   root    /bin/bash /s3.sh >> /log.s3  2>&1
30 *    * * *   root    /bin/bash /hook.sh
