[mysqld]
character-set-server = utf8

[mysql]
default-character-set=utf8
user=root
password=root



[galera]
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name=test_cluster
wsrep_cluster_address
wsrep_sst_method=rsync
wsrep_sst_auth="root:root"
wsrep_node_address=""
wsrep_node_name="l1"
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
wsrep_slave_threads=1
innodb_flush_log_at_trx_commit=0
